@model E_Commerce.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2 class="text-center">Registration</h2>

<div class="row justify-content-center mt-4">
    <div class="col-md-6">
        <div class="card shadow p-4">
            <form asp-action="Register" method="post">
                @Html.AntiForgeryToken()

                <div class="form-group mb-3">
                    <label asp-for="Username" class="form-label"></label>
                    <input asp-for="Username" placeholder="Enter UserName" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" placeholder="Enter Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="PhoneNumber" class="form-label"></label>
                    <input asp-for="PhoneNumber" placeholder="Enter PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Address" class="form-label"></label>
                    <input asp-for="Address" placeholder="Enter Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Role" class="form-label">Role</label>
                    <select asp-for="Role" class="form-select" asp-items="new SelectList(ViewBag.RoleList)">
                        <option value="">-- Select Role --</option>
                    </select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" placeholder="Enter Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success w-100">Register</button>
                </div>

                <div class="mt-3 text-center">
                    <span>Already have an account? </span>
                    <a asp-action="Login" asp-controller="Account">Login here</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
